<app-header titulo="Productos"></app-header>

<ion-content color="light">
  <!-- P2R -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Projects -->
  <app-projects [projects]="projects"></app-projects>

  <!-- Scroll infinito -->
  <ion-infinite-scroll
    [disabled]="!enabled"
    (ionInfinite)="nextProjects($event)"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Floating Btn -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button
        *ngFor="let b of buttons"
        (click)="callFunction(b.redirectTo)"
        [attr.data-desc]="b.title"
        color="primary"
      >
        <ion-icon [name]="b.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
