.top-10{
    margin-top: 10px;
}

.top-20{
    margin-top: 20px;
}

.title {
    font-size: 1.3em;
  }

.sizeFont {
    font-size: 12px;
  }

  .summaryText {
    max-height: 5.4em;
    line-height: 1.8em;
    height: 75%;
    white-space: normal;
    }